.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.well.profile-contact {
  background-color: #5C5CB8;
  border-color: #4C4CAE;
}